In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
test_df = pd.read_csv("smsspam_test.csv",encoding='utf-8')
test_df.head()

,000,10,100,1000,10p,11,12hrs,150,150p,150ppm,...,xxx,ya,yeah,year,years,yes,yesterday,yo,yup,_label_
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
train_df = pd.read_csv("smsspam_train.csv",encoding='utf-8')
train_df.head()

,000,10,100,1000,10p,11,12hrs,150,150p,150ppm,...,xxx,ya,yeah,year,years,yes,yesterday,yo,yup,_label_
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#features_test = train_df.iloc[:,:500].values
features=train_df.drop('_label_', axis = 1)

In [5]:
features.shape

(3734, 500)

In [6]:
target = train_df.iloc[:,500].values
target.shape

(3734,)

In [7]:
classifier = BernoulliNB()

In [8]:
classifier.fit(features, target)

BernoulliNB()

In [9]:
test_features=test_df.drop('_label_', axis = 1)

In [10]:
test_target = test_df.iloc[:,500].values

In [11]:
unique, counts = np.unique(test_target, return_counts=True)
dict(zip(unique, counts))

{0: 1599, 1: 241}

In [12]:
nb_predictions = classifier.predict(test_features)

In [13]:
nb_predictions

array([0, 0, 0, ..., 0, 0, 0])

In [14]:
unique, counts = np.unique(nb_predictions, return_counts=True)
dict(zip(unique, counts))

{0: 1613, 1: 227}

In [15]:
with open('nb_predictions.txt', 'w', newline='') as file:
    for output in nb_predictions:
        file.write(str(output) + '\n')

In [16]:
model = LogisticRegression()

In [17]:
model.fit(features, target)

LogisticRegression()

In [18]:
lg_predictions = model.predict(test_features)
lg_predictions

array([0, 0, 0, ..., 0, 0, 0])

In [19]:
unique, counts = np.unique(lg_predictions, return_counts=True)
dict(zip(unique, counts))

{0: 1625, 1: 215}

In [20]:
with open('lg_predictions.txt', 'w', newline='') as file:
    for output in lg_predictions:
        file.write(str(output) + '\n')

In [39]:
def compute_score (test_score: np.array, predict_score: np.array)-> float:
    confusion_metrics = metrics.confusion_matrix(test_score,predict_score)
    tp = confusion_metrics[1][1]
    tn = confusion_metrics[0][0]
    fp = confusion_metrics[0][1]
    fn = confusion_metrics[1][0]
    
    precision = tp / (tp + fp)
    recall = tp /(tp + fn)
                
    f1_score = 2 * (precision* recall)/ (precision + recall)
    
    return f1_score

In [40]:
compute_score(test_target,nb_predictions)

0.9316239316239316

In [41]:
compute_score(test_target,lg_predictions)

0.9166666666666667

In [42]:
dt_predictions = np.loadtxt("dt_predictions.txt",dtype = 'int64')
dt_predictions

array([0, 0, 0, ..., 0, 0, 0])

In [43]:
unique, counts = np.unique(dt_predictions, return_counts=True)
dict(zip(unique, counts))

{0: 1594, 1: 246}

In [44]:
compute_score(test_target,dt_predictions)

0.8870636550308009

In [27]:
combine = pd.DataFrame(nb_predictions, columns = ['nb_predictions'])
combine.head(10)

   nb_predictions
0               0
1               0
2               0
3               1
4               0
5               0
6               1
7               0
8               0
9               0

In [28]:
combine['lg_predictions'] = pd.DataFrame(lg_predictions)
combine.head(10)

   nb_predictions  lg_predictions
0               0               0
1               0               0
2               0               0
3               1               0
4               0               0
5               0               0
6               1               1
7               0               0
8               0               0
9               0               0

In [29]:
combine['dt_predictions'] = pd.DataFrame(dt_predictions)
combine.head(10)

   nb_predictions  lg_predictions  dt_predictions
0               0               0               0
1               0               0               0
2               0               0               0
3               1               0               0
4               0               0               0
5               0               0               0
6               1               1               1
7               0               0               0
8               0               0               0
9               0               0               0

In [30]:
np.count_nonzero(dt_predictions==test_target)

1785

In [31]:
combine['Ensemble_Voting'] = combine['nb_predictions'] + combine['lg_predictions'] + combine['dt_predictions']

In [32]:
combine.head(10)

   nb_predictions  lg_predictions  dt_predictions  Ensemble_Voting
0               0               0               0                0
1               0               0               0                0
2               0               0               0                0
3               1               0               0                1
4               0               0               0                0
5               0               0               0                0
6               1               1               1                3
7               0               0               0                0
8               0               0               0                0
9               0               0               0                0

In [33]:
combine.loc[combine['Ensemble_Voting'] <= 1,'Ensemble_Voting'] = 0

In [34]:
combine.loc[combine['Ensemble_Voting'] >= 2,'Ensemble_Voting'] = 1

In [35]:
combine.head(10)

   nb_predictions  lg_predictions  dt_predictions  Ensemble_Voting
0               0               0               0                0
1               0               0               0                0
2               0               0               0                0
3               1               0               0                0
4               0               0               0                0
5               0               0               0                0
6               1               1               1                1
7               0               0               0                0
8               0               0               0                0
9               0               0               0                0

In [36]:
voting_prediction = combine['Ensemble_Voting'].values
voting_prediction.shape

(1840,)

In [37]:
confusion_metrics = metrics.confusion_matrix(test_target,voting_prediction)
confusion_metrics

array([[1594,    5],
       [  21,  220]])

In [38]:
compute_score(test_target, voting_prediction)

0.944206008583691