In [1]:
import numpy as np
import pandas as pd
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn import metrics

In [2]:
test_df = pd.read_csv("smsspam_test.csv",encoding='utf-8')
test_df.head()

,000,10,100,1000,10p,11,12hrs,150,150p,150ppm,...,xxx,ya,yeah,year,years,yes,yesterday,yo,yup,_label_
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
train_df = pd.read_csv("smsspam_train.csv",encoding='utf-8')
train_df.head()

,000,10,100,1000,10p,11,12hrs,150,150p,150ppm,...,xxx,ya,yeah,year,years,yes,yesterday,yo,yup,_label_
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#features_test = train_df.iloc[:,:500].values
features=train_df.drop('_label_', axis = 1)

In [5]:
features.shape

(3734, 500)

In [6]:
target = train_df.iloc[:,500].values
target.shape

(3734,)

In [7]:
classifier = BernoulliNB()

In [8]:
classifier.fit(features, target)

BernoulliNB()

In [9]:
features_test=test_df.drop('_label_', axis = 1)

In [10]:
target_test = test_df.iloc[:,500].values

In [11]:
unique, counts = np.unique(target_test, return_counts=True)
dict(zip(unique, counts))

{0: 1599, 1: 241}

In [12]:
y_pred = classifier.predict(features_test)

In [13]:
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [14]:
unique, counts = np.unique(y_pred, return_counts=True)
dict(zip(unique, counts))

{0: 1613, 1: 227}

In [15]:
with open('nb_predictions.txt', 'w', newline='') as file:
    for output in y_pred:
        file.write(str(output) + '\n')

In [16]:
model = LogisticRegression()

In [17]:
model.fit(features, target)

LogisticRegression()

In [18]:
lr_predict = model.predict(features_test)
lr_predict

array([0, 0, 0, ..., 0, 0, 0])

In [19]:
unique, counts = np.unique(lr_predict, return_counts=True)
dict(zip(unique, counts))

{0: 1625, 1: 215}

In [20]:
with open('lg_predictions.txt', 'w', newline='') as file:
    for output in lr_predict:
        file.write(str(output) + '\n')

In [21]:
def compute_score (test_score: np.array, predict_score: np.array)-> float:
    confusion_metrics = metrics.confusion_matrix(test_score,predict_score)
    tp = confusion_metrics[1][1]
    tn = confusion_metrics[0][0]
    fp = confusion_metrics[0][1]
    fn = confusion_metrics[1][0]
    
    precision = tp / (tp + fp)
    recall = tp /(tp + fn)
                
    f1_score = 2 * (precision* recall)/ (precision + recall)
    
    return f1_score

In [22]:
#f1_score(target_test,y_pred)

In [23]:
#f1_score(target_test,lr_predict)

In [46]:
compute_score(target_test,y_pred)

0.9316239316239316

In [24]:
compute_score(target_test,lr_predict)

0.9166666666666667

In [25]:
#accuracy = sum(lr_predict==target_test)/float(len(target_test))
#accuracy

In [26]:
#np.count_nonzero(lr_predict==target_test)

In [27]:
#len(target_test)

In [28]:
dt_predictions = np.loadtxt("dt_predictions.txt",dtype = 'int64')
dt_predictions

array([0, 0, 0, ..., 0, 0, 0])

In [29]:
unique, counts = np.unique(dt_predictions, return_counts=True)
dict(zip(unique, counts))

{0: 1594, 1: 246}

In [30]:
#f1_score(target_test, dt_predictions)

In [31]:
compute_score(target_test,dt_predictions)

0.8870636550308009

In [32]:
combine = pd.DataFrame(y_pred, columns = ['Naive'])
combine.head(10)

   Naive
0      0
1      0
2      0
3      1
4      0
5      0
6      1
7      0
8      0
9      0

In [33]:
combine['LR_Predict'] = pd.DataFrame(y_pred)
combine.head(10)

   Naive  LR_Predict
0      0           0
1      0           0
2      0           0
3      1           1
4      0           0
5      0           0
6      1           1
7      0           0
8      0           0
9      0           0

In [34]:
combine['Decision'] = pd.DataFrame(dt_predictions)
combine.head(10)

   Naive  LR_Predict  Decision
0      0           0         0
1      0           0         0
2      0           0         0
3      1           1         0
4      0           0         0
5      0           0         0
6      1           1         1
7      0           0         0
8      0           0         0
9      0           0         0

In [35]:
np.count_nonzero(dt_predictions==target_test)

1785

In [36]:
combine['Final'] = combine['Naive'] + combine['LR_Predict'] + combine['Decision']

In [37]:
combine.head(10)

   Naive  LR_Predict  Decision  Final
0      0           0         0      0
1      0           0         0      0
2      0           0         0      0
3      1           1         0      2
4      0           0         0      0
5      0           0         0      0
6      1           1         1      3
7      0           0         0      0
8      0           0         0      0
9      0           0         0      0

In [38]:
combine.loc[combine['Final'] <= 1,'Final'] = 0

In [39]:
combine.loc[combine['Final'] >= 2,'Final'] = 1

In [40]:
#combine.loc[combine['Final'] == 3,'Final'] = 1

In [41]:
#combine.loc[combine['Final'] == 2,'Final'] = 1

In [42]:
#combine.loc[combine['Final'] == 3,'Final'] = 1
combine.head(10)

   Naive  LR_Predict  Decision  Final
0      0           0         0      0
1      0           0         0      0
2      0           0         0      0
3      1           1         0      1
4      0           0         0      0
5      0           0         0      0
6      1           1         1      1
7      0           0         0      0
8      0           0         0      0
9      0           0         0      0

In [43]:
voted_prediction = combine['Final'].values
voted_prediction.shape

(1840,)

In [44]:
confusion_metrics = metrics.confusion_matrix(target_test,voted_prediction)
confusion_metrics

array([[1590,    9],
       [  23,  218]])

In [45]:
compute_score(target_test, voted_prediction)

0.9316239316239316